In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split

In [2]:
dir2save = '/home/cz/mds3/data-centric/datasets/'

In [3]:
dir2read =  '/home/cz/mds3/data-centric/datasets/news_correct/'

In [4]:
name2save= os.path.join(dir2save, 'prepared/cholesterol')

In [5]:
os.makedirs(name2save, exist_ok=True)

In [6]:
def read_arf_file(arf_file_path):
    data = []
    with open(arf_file_path, 'r', encoding='utf-8') as file:
        for line in file:
            # Processar cada linha conforme necess√°rio
            # Aqui, apenas adicionando cada linha aos dados
            data.append(line.strip())
    return data

In [7]:
# Exemplo de uso
arf_data = read_arf_file(dir2read+"dataset_2190_cholesterol.arff")

In [8]:
prior_data = arf_data[259:]

In [9]:
attributes = prior_data[:15]

In [10]:
data = prior_data[16:]

In [11]:
columns_extracted = []

# Analise cada string na lista de atributos
for attribute in attributes:
    # Separe o nome do atributo e o tipo de dados
    parts = attribute.split()
    #print(parts)
    attribute_name = parts[1]
    data_type = parts[2]
    columns_extracted.append(attribute_name)

In [12]:
new_data = []
for i in range(len(data)-1):
    new_data.append(data[i].split(','))

In [13]:
new_data = [obtained for obtained in new_data if '?' not in obtained]

In [14]:
new_data = np.array(new_data)

In [15]:
new_datafloat = [[float(info) for info in obtained] for obtained in new_data]

In [16]:
new_datafloat = np.array(new_datafloat)

In [17]:
new_datafloat.shape

(297, 14)

In [18]:
new_datafloat

array([[ 63.,   1.,   1., ...,   6.,   0., 233.],
       [ 67.,   1.,   4., ...,   3.,   2., 286.],
       [ 67.,   1.,   4., ...,   7.,   1., 229.],
       ...,
       [ 68.,   1.,   4., ...,   7.,   2., 193.],
       [ 57.,   1.,   4., ...,   7.,   3., 131.],
       [ 57.,   0.,   2., ...,   3.,   1., 236.]])

In [19]:
columns_extracted = np.array(list(set(columns_extracted)))

In [20]:
columns_extracted = [element.split('"')[0] for element in columns_extracted]

In [21]:
import re

def remover_aspas(lista):
  """
  Remove aspas duplas e simples de cada string da lista.

  Argumentos:
    lista: A lista de strings.

  Retorna:
    Uma nova lista com as strings sem aspas.
  """
  nova_lista = []
  for item in lista:
    # Substitui aspas duplas e simples por string vazia
    sem_aspas = re.sub(r'["\']', '', item)
    nova_lista.append(sem_aspas)
  return nova_lista


lista_sem_aspas = remover_aspas(columns_extracted)
print(lista_sem_aspas)  # Resultado: ['sex', 'trestbps', 'cp', 'fbs', 'thal', 'slope', 'ca', 'oldpeak', 'restecg', 'num', 'chol', 'exang', 'thalach', 'age']

['oldpeak', 'exang', 'restecg', 'num', 'fbs', 'thalach', 'sex', 'trestbps', 'slope', 'thal', 'chol', 'age', 'cp', 'ca']

In [22]:
df= pd.DataFrame(new_datafloat, columns = lista_sem_aspas)

In [30]:
df = df.rename(columns={'slope':'target'})

In [32]:
df_train, df_test = train_test_split(df, test_size=0.33, random_state=42)

In [33]:
df_train.shape, df_test.shape

((198, 14), (99, 14))

In [34]:
df

,oldpeak,exang,restecg,num,fbs,thalach,sex,trestbps,target,thal,chol,age,cp,ca
0,63.0,1.0,1.0,145.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0.0,233.0
1,67.0,1.0,4.0,160.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2.0,286.0
2,67.0,1.0,4.0,120.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1.0,229.0
3,37.0,1.0,3.0,130.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0.0,250.0
4,41.0,0.0,2.0,130.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0.0,204.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,57.0,0.0,4.0,140.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1.0,241.0
293,45.0,1.0,1.0,110.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1.0,264.0
294,68.0,1.0,4.0,144.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2.0,193.0
295,57.0,1.0,4.0,130.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3.0,131.0
296,57.0,0.0,2.0,130.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1.0,236.0

In [35]:
df_train.to_csv(os.path.join(name2save, 'cholesterol_train.csv'))

In [36]:
df_test.to_csv(os.path.join(name2save, 'cholesterol_test.csv'))