In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split

In [ ]:
dir2save = 'path/datasets/'

In [ ]:
dir2read =  'path/datasets/originals/'

In [ ]:
name2save= os.path.join(dir2save, 'prepared/plasma')

In [5]:
os.makedirs(name2save, exist_ok=True)

In [6]:
def read_arf_file(arf_file_path):
    data = []
    with open(arf_file_path, 'r', encoding='utf-8') as file:
        for line in file:
            # Processar cada linha conforme necess√°rio
            # Aqui, apenas adicionando cada linha aos dados
            data.append(line.strip())
    return data

In [7]:
# Exemplo de uso
arf_data = read_arf_file(dir2read+"plasma_retinol.arff")

In [8]:
prior_data = arf_data[47:]

In [9]:
attributes = prior_data[:14]

In [10]:
data = prior_data[16:]

In [11]:
columns_extracted = []

# Analise cada string na lista de atributos
for attribute in attributes:
    # Separe o nome do atributo e o tipo de dados
    parts = attribute.split()
    #print(parts)
    attribute_name = parts[1]
    data_type = parts[2]
    columns_extracted.append(attribute_name)

In [12]:
new_data = []
for i in range(len(data)-1):
    new_data.append(data[i].split(','))

In [13]:
new_data = [obtained for obtained in new_data if '?' not in obtained]

In [14]:
new_data = np.array(new_data)

In [15]:
import numpy as np

def transform_categorical_data(data):
    """
    Transforms a list of categorical values into numerical representations.

    Args:
        data (list): The list of categorical values (strings).

    Returns:
        tuple: A tuple containing:
            - transformed_data (list): The transformed list with numerical representations.
            - value_to_number (dict): The dictionary mapping original values to numbers.
    """

    # Convert data to NumPy array for efficient operations
    data_array = np.array(data)

    # Get unique values and their counts
    unique_values, counts = np.unique(data_array, return_counts=True)

    # Create a dictionary mapping values to numbers (starting from 0)
    value_to_number = dict(zip(unique_values, range(len(unique_values))))

    # Transform data into numerical representations
    transformed_data = [value_to_number[value] for value in data_array]

    return transformed_data, value_to_number

In [16]:
new_data[:,2], value_to_number2 = transform_categorical_data(new_data[:,2])
#print("Transformed list (numerical representations):")
#print(new_data[:,2])
print("\nDictionary mapping values to numbers:")
print(value_to_number2)

Dictionary mapping values to numbers:
{'Current_Smoker': 0, 'Former': 1, 'Never': 2}

In [17]:
new_data[:,1], value_to_number1 = transform_categorical_data(new_data[:,1])
#print("Transformed list (numerical representations):")
#print(new_data[:,2])
print("\nDictionary mapping values to numbers:")
print(value_to_number1)

Dictionary mapping values to numbers:
{'Female': 0, 'Male': 1}

In [18]:
new_data[:,4], value_to_number2 = transform_categorical_data(new_data[:,4])
#print("Transformed list (numerical representations):")
#print(new_data[:,2])
print("\nDictionary mapping values to numbers:")
print(value_to_number2)

Dictionary mapping values to numbers:
{'No': 0, 'Yes_fairly_often': 1, 'Yes_not_often': 2}

In [19]:
new_datafloat = [[float(info) for info in obtained] for obtained in new_data]

In [20]:
new_datafloat = np.array(new_datafloat)

In [21]:
new_datafloat.shape

(314, 14)

In [22]:
new_datafloat

array([[ 64.,   0.,   1., ..., 890., 200., 915.],
       [ 76.,   0.,   2., ..., 451., 124., 727.],
       [ 38.,   0.,   1., ..., 660., 328., 721.],
       ...,
       [ 45.,   0.,   2., ..., 465.,  80., 328.],
       [ 49.,   0.,   2., ..., 520., 300., 502.],
       [ 31.,   0.,   1., ..., 644., 121., 684.]])

In [23]:
columns_extracted = np.array(list(set(columns_extracted)))

In [24]:
columns_extracted = [element.split('"')[0] for element in columns_extracted]

In [25]:
import re

def remover_aspas(lista):
  """
  Remove aspas duplas e simples de cada string da lista.

  Argumentos:
    lista: A lista de strings.

  Retorna:
    Uma nova lista com as strings sem aspas.
  """
  nova_lista = []
  for item in lista:
    # Substitui aspas duplas e simples por string vazia
    sem_aspas = re.sub(r'["\']', '', item)
    nova_lista.append(sem_aspas)
  return nova_lista


lista_sem_aspas = remover_aspas(columns_extracted)
print(lista_sem_aspas)  # Resultado: ['sex', 'trestbps', 'cp', 'fbs', 'thal', 'slope', 'ca', 'oldpeak', 'restecg', 'num', 'chol', 'exang', 'thalach', 'age']

['RETDIET', 'FIBER', 'SMOKSTAT', 'CALORIES', 'ALCOHOL', 'AGE', 'FAT', 'BETAPLASMA', 'VITUSE', 'RETPLASMA', 'BETADIET', 'QUETELET', 'SEX', 'CHOLESTEROL']

In [26]:
df= pd.DataFrame(new_datafloat, columns = lista_sem_aspas)

In [27]:
df = df.rename(columns={'BETAPLASMA':'target'})

In [29]:
df_train, df_test = train_test_split(df, test_size=0.33, random_state=42)

In [30]:
df_train.shape, df_test.shape

((210, 14), (104, 14))

In [31]:
df

,RETDIET,FIBER,SMOKSTAT,CALORIES,ALCOHOL,AGE,FAT,target,VITUSE,RETPLASMA,BETADIET,QUETELET,SEX,CHOLESTEROL
0,64.0,0.0,1.0,21.48380,1.0,1298.8,57.0,6.3,0.0,170.3,1945.0,890.0,200.0,915.0
1,76.0,0.0,2.0,23.87631,1.0,1032.5,50.1,15.8,0.0,75.8,2653.0,451.0,124.0,727.0
2,38.0,0.0,1.0,20.01080,2.0,2372.3,83.6,19.1,14.1,257.9,6321.0,660.0,328.0,721.0
3,40.0,0.0,1.0,25.14062,0.0,2449.5,97.5,26.5,0.5,332.6,1061.0,864.0,153.0,615.0
4,72.0,0.0,2.0,20.98504,1.0,1952.1,82.6,16.2,0.0,170.8,2863.0,1209.0,92.0,799.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,48.0,0.0,1.0,24.61465,2.0,2021.1,72.2,16.6,9.0,299.1,1392.0,1027.0,144.0,752.0
310,46.0,0.0,1.0,25.89669,0.0,2263.6,98.2,19.4,2.6,306.5,2572.0,1261.0,164.0,216.0
311,45.0,0.0,2.0,23.82703,1.0,1841.1,84.2,14.1,2.2,257.7,1665.0,465.0,80.0,328.0
312,49.0,0.0,2.0,24.26126,1.0,1125.6,44.8,11.9,4.0,150.5,6943.0,520.0,300.0,502.0
313,31.0,0.0,1.0,23.45255,1.0,2729.6,144.4,13.2,2.2,381.8,741.0,644.0,121.0,684.0

In [32]:
df_train.to_csv(os.path.join(name2save, 'plasma_train.csv'))

In [33]:
df_test.to_csv(os.path.join(name2save, 'plasma_test.csv'))